html {
    background: url("https://www.publicdomainpictures.net/pictures/260000/nahled/flower-floral-background-border-1529753419paz.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}