html {
    background: url("https://www.publicdomainpictures.net/pictures/270000/nahled/flower-floral-background-border-1530309841jNR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}